node_modules/
www/
android/app/build/
android/build/
android/.gradle/
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
*.ipa
*.aab
*.apk
.DS_Store
Thumbs.db
android/local.properties
local.properties
